@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    margin: 0;
    font-family: 'Roboto Mono', sans-serif;
}

#navbar {
    position: fixed;
    width: 30%;
    left: 0;
    top: 0;
    font-size: 14px;
    height: 100%;
    border-right: 2px solid;
    border-color: gray;
}

header {
    font-size: 2em;
    padding: 4%;
    text-align: center;
    font-weight: bold;
}

#navbar ul {
    margin-left: 0%;
    padding-left: 0;
    width: 100%;
    left: 0;
    overflow-y: auto;
    margin-bottom: 5%;
}

#navbar ul li {
    border: 1px solid gray;
    width: 100%;
    padding: 5%;
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 10%;
    font-size: 1.3em;
}

#navbar ul li:hover {
    background-color: yellow;
    transform: scale(1.1);
    font-size: 1.1em;
    box-shadow: 5px 0 10px black;
}

.nav-link:hover {
    color: darkgreen;
    font-weight: bold;
}

#main-doc {
    margin-left: 32%;
    text-align: justify;
    padding: 3%;
}

.code-div {
    background-color: black;
    color: white;
    padding: 4%;
    border-radius: 10px;
}

#main-doc section {
    margin-bottom: 10%;
}

@media (max-width: 750px) {
    #navbar {
        position: absolute;
        top: 10%;
        left: 25%;
        height: 35%;
        width: 70%;
        border: 1px solid gray;
    }

    #navbar ul {
        overflow-y : auto;
        height: 60%;
    }

    #main-doc {
        margin-top: 55%;
        margin-left: 20%;
        padding-left: 4%;
        padding-right: 4%;
    }
}